#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
}

.DrifterLookup {
  flex: 1;
  text-align: center;
}

.DrifterLookup img {
  width: 100%;
}

.DrifterLookup ul {
  text-align: left;
}