#root {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.fade-in {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.Intro {
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.DrifterLookup {
  flex: 1;
  max-width: 50%;
  text-align: center;
  padding: 0.2em;
}

.DrifterLookup input[type="text"] {
  border-radius: 1px;
  border: none;
  outline: none;
  border-bottom: 4px solid rgba(242, 244, 246);
  font-size: 1.5em;
  width: 4em;
  text-align: center;
  padding: 0.25em;
}

.DrifterLookup input[type="text"]:focus {
  border-bottom: 4px solid rgba(242, 201, 76);
}

.DrifterLookup img {
  width: 100%;
}

.DrifterLookup img.empty {
  opacity: 0.35;
}

.DrifterLookup .attribute {
  text-align: left;
  font-size: 55%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 1200px) {
  .DrifterLookup .attribute {
    font-size: unset;
  }
}

.StartMission {
  padding: 1.5em;
}

.Scenario .narrative {
  text-align: left;
  font-style: italic;
}

@media (min-width: 1200px) {
  .Scenario .narrative {
    padding: 0 5em;
  }
}

.Scenario .results {
  text-align: left;
}

@media (min-width: 1200px) {
  .Scenario .results {
    padding: 0 5em;
  }
}